.fixed-top {
  top: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  margin-bottom: 10px;
}
.fixed-top-next {
  margin-top: 80px !important;
}
.subject-box {
  height: 100%;
  margin: 5px;
}

.subject-exam-title {
  font-size: 18px;
  padding: 8px;
}
.subject-exam-progress {
  margin-top: 8px;
}
.subject-content {
  margin-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 300;
  position: relative;
}

.subject-title {
  display: flex;
  font-size: 18px;
  line-height: 22px;
  padding-top: 8px;
}

.subject-title-content {
  display: inline-block;
  line-height: 26px;
}

.subject-type-label {
  font-size: 16px;
  padding-top: 6px;
}

.subject-option {
  font-size: 16px;
  padding: 12px;
}

.subject-option-prefix {
  font-size: 16px;
  display: inline-block
}

.submit-btn {
  text-align: center;
  position: fixed;
  bottom: 50px;
  left: 30px;
  right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.submit-btn-item {
  margin: 4px;
}

.duration-info {
  color: grey;
  font-size: 16px;
}
.audio-btn-group {
  display: flex;
  margin-top: 60px;
  padding-bottom: 12px;
}
.audio-btn {
  padding: 0 15px;
  margin-right: 16px;
}
.card-box {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 8px;
}
.card-item {
  padding: 8px;
}
.card-item .card-item-btn {
  line-height: inherit;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}