<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.exam.mapper.ExaminationMapper">
    <resultMap id="examinationResultMap" type="com.github.tangyi.api.exam.module.Examination">
        <id column="id" property="id"/>
        <result column="examination_name" property="examinationName"/>
        <result column="type" property="type"/>
        <result column="attention" property="attention"/>
        <result column="start_time" property="startTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="total_score" property="totalScore"/>
        <result column="status" property="status"/>
        <result column="avatar_id" property="avatarId"/>
        <result column="course_id" property="courseId"/>
        <result column="remark" property="remark"/>
        <result column="creator" property="creator"/>
        <result column="create_date" property="createDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier"/>
        <result column="modify_date" property="modifyDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag"/>
        <result column="application_code" property="applicationCode"/>
        <result column="tenant_code" property="tenantCode"/>
    </resultMap>

    <sql id="examinationColumns">
        a.id,
        a.examination_name,
        a.type,
        a.attention,
        a.start_time,
        a.end_time,
        a.total_score,
        a.status,
        a.avatar_id,
        a.course_id,
        a.remark,
        a.creator,
        a.create_date,
        a.modifier,
        a.modify_date,
        a.del_flag,
        a.application_code,
        a.tenant_code
    </sql>

    <!-- where 条件 -->
    <sql id="whereColumnList">
        <if test="examinationName != null and examinationName != ''">
            and a.examination_name like CONCAT('%',#{examinationName},'%')
        </if>
        <if test="courseId != null and courseId != ''">
            and a.course_id = #{courseId}
        </if>
        <if test="status != null">
            and a.status = #{status}
        </if>
        <if test="type != null and type != ''">
            and a.type = #{type}
        </if>
        <if test="tenantCode != null and tenantCode != ''">
            and a.tenant_code = #{tenantCode}
        </if>
    </sql>

    <select id="getById" resultMap="examinationResultMap">
        SELECT
        <include refid="examinationColumns"/>
        FROM exam_examination a WHERE a.id = #{id} and a.del_flag = 0
    </select>

    <select id="get" resultMap="examinationResultMap">
        SELECT
        <include refid="examinationColumns"/>
        FROM exam_examination a WHERE a.id = #{id} and a.del_flag = 0
    </select>

    <select id="findList" resultMap="examinationResultMap">
        SELECT
        <include refid="examinationColumns"/>
        FROM exam_examination a WHERE a.del_flag = 0
        <include refid="whereColumnList"/>
    </select>

    <select id="findListById" resultMap="examinationResultMap">
        SELECT
        <include refid="examinationColumns"/>
        FROM exam_examination a WHERE a.id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findExaminationCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM exam_examination a WHERE a.del_flag = 0
        <include refid="whereColumnList"/>
    </select>

    <select id="findExamUserCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM (SELECT user_id FROM exam_examination_record WHERE tenant_code = #{tenantCode} GROUP BY user_id) a
    </select>

    <insert id="insert">
        insert into exam_examination (
            id,
            examination_name,
            type,
            attention,
            start_time,
            end_time,
            total_score,
            status,
            avatar_id,
            course_id,
            remark,
            creator,
            create_date,
            modifier,
            modify_date,
            del_flag,
            application_code,
            tenant_code
        ) values (
            #{id},
            #{examinationName},
            #{type},
            #{attention},
            #{startTime, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{endTime, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{totalScore},
            #{status},
            #{avatarId},
            #{courseId},
            #{remark},
            #{creator},
            #{createDate, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{modifier},
            #{modifyDate, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{delFlag},
            #{applicationCode},
            #{tenantCode}
        );
    </insert>

    <update id="update">
        UPDATE exam_examination SET
        <if test="examinationName != null">
            examination_name = #{examinationName},
        </if>
        <if test="type != null">
            type = #{type},
        </if>
        <if test="attention != null">
            attention = #{attention},
        </if>
        <if test="startTime != null">
            start_time = #{startTime, jdbcType=TIMESTAMP, javaType=java.util.Date},
        </if>
        <if test="endTime != null">
            end_time = #{endTime, jdbcType=TIMESTAMP, javaType=java.util.Date},
        </if>
        <if test="totalScore != null">
            total_score = #{totalScore},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        <if test="avatarId != null">
            avatar_id = #{avatarId},
        </if>
        <if test="courseId != null">
            course_id = #{courseId},
        </if>
        <if test="remark != null">
            remark = #{remark},
        </if>
        <if test="delFlag != null">
            del_flag = #{delFlag},
        </if>
        modifier = #{modifier},
        modify_date = #{modifyDate, jdbcType=TIMESTAMP, javaType=java.util.Date}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        UPDATE exam_examination SET del_flag = 1 WHERE id = #{id}
    </delete>

    <delete id="deleteAll">
        UPDATE exam_examination SET del_flag = 1 WHERE id in
        <foreach item="item" index="index" collection="ids" open="("
                 separator="," close=")">#{item}
        </foreach>
    </delete>
</mapper>
