<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.exam.mapper.PicturesMapper">
    <resultMap id="picturesResultMap" type="com.github.tangyi.api.exam.module.Pictures">
        <id column="id" property="id"/>
        <result column="picture_address" property="examRecordId"/>
        <result column="attachment_id" property="subjectId"/>
        <result column="creator" property="creator"/>
        <result column="create_date" property="createDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier"/>
        <result column="modify_date" property="modifyDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag"/>
        <result column="application_code" property="applicationCode"/>
        <result column="tenant_code" property="tenantCode"/>
    </resultMap>

    <sql id="answerColumns">
        a.id,
        a.picture_address,
        a.attachment_id,
        a.creator,
        a.create_date,
        a.modifier,
        a.modify_date,
        a.del_flag,
        a.application_code,
        a.tenant_code
    </sql>

    <!-- where 条件 -->
    <sql id="whereColumnList">
        <if test="attachmentId != null and attachmentId != ''">
            and a.attachment_id = #{attachmentId}
        </if>
    </sql>

    <select id="getById" resultMap="picturesResultMap">
        SELECT
        <include refid="answerColumns"/>
        FROM exam_pictures a WHERE a.id = #{id} and a.del_flag = 0
    </select>

    <select id="get" resultMap="picturesResultMap">
        SELECT
        <include refid="answerColumns"/>
        FROM exam_pictures a WHERE a.id = #{id} and a.del_flag = 0
    </select>

    <select id="findList" resultMap="picturesResultMap">
        SELECT
        <include refid="answerColumns"/>
        FROM exam_pictures a WHERE a.del_flag = 0
        <include refid="whereColumnList"/>
    </select>

    <insert id="insert">
        insert into exam_pictures (
            id,
            picture_address,
            attachment_id,
            creator,
            create_date,
            modifier,
            modify_date,
            del_flag,
            application_code,
            tenant_code
        ) values (
            #{id},
            #{pictureAddress},
            #{attachmentId},
            #{creator},
            #{createDate, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{modifier},
            #{modifyDate, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{delFlag},
            #{applicationCode},
            #{tenantCode}
        );
    </insert>

    <update id="update">
        UPDATE exam_pictures SET
        <if test="pictureAddress != null">
            picture_address = #{pictureAddress},
        </if>
        <if test="attachmentId != null">
            attachment_id = #{attachmentId},
        </if>
        <if test="delFlag != null">
            del_flag = #{delFlag},
        </if>
        modifier = #{modifier},
        modify_date = #{modifyDate, jdbcType=TIMESTAMP, javaType=java.util.Date}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        UPDATE exam_pictures SET del_flag = 1 WHERE id = #{id}
    </delete>
</mapper>
