<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.exam.mapper.SubjectChoicesMapper">
    <resultMap id="subjectChoicesResultMap" type="com.github.tangyi.api.exam.module.SubjectChoices">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="subject_name" property="subjectName"/>
        <result column="choices_type" property="choicesType"/>
        <result column="answer" property="answer"/>
        <result column="score" property="score"/>
        <result column="analysis" property="analysis"/>
        <result column="level" property="level"/>
        <result column="creator" property="creator"/>
        <result column="create_date" property="createDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier"/>
        <result column="modify_date" property="modifyDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag"/>
        <result column="application_code" property="applicationCode"/>
        <result column="tenant_code" property="tenantCode"/>
    </resultMap>

    <sql id="subjectChoicesColumns">
        a.id,
        a.category_id,
        a.subject_name,
        a.choices_type,
        a.answer,
        a.score,
        a.analysis,
        a.level,
        a.creator,
        a.create_date,
        a.modifier,
        a.modify_date,
        a.del_flag,
        a.application_code,
        a.tenant_code
    </sql>

    <!-- where 条件 -->
    <sql id="whereColumnList">
        <choose>
            <when test="categoryId == null">
                and a.category_id != 0
            </when>
            <otherwise>
                and a.category_id = #{categoryId}
            </otherwise>
        </choose>
        <if test="subjectName != null and subjectName != ''">
            and a.subject_name like CONCAT('%',#{subjectName},'%')
        </if>
        <if test="choicesType != null and choicesType != ''">
            and a.choices_type = #{choicesType}
        </if>
        <if test="tenantCode != null and tenantCode != ''">
            and a.tenant_code = #{tenantCode}
        </if>
    </sql>

    <select id="getById" resultMap="subjectChoicesResultMap">
        SELECT
        <include refid="subjectChoicesColumns"/>
        FROM exam_subject_choices a WHERE a.id = #{id} and a.del_flag = 0
    </select>

    <select id="get" resultMap="subjectChoicesResultMap">
        SELECT
        <include refid="subjectChoicesColumns"/>
        FROM exam_subject_choices a WHERE a.id = #{id} and a.del_flag = 0
    </select>

    <select id="findList" resultMap="subjectChoicesResultMap">
        SELECT
        <include refid="subjectChoicesColumns"/>
        FROM exam_subject_choices a WHERE a.del_flag = 0
        <include refid="whereColumnList"/>
    </select>

    <select id="findListById" resultMap="subjectChoicesResultMap">
        SELECT
        <include refid="subjectChoicesColumns"/>
        FROM exam_subject_choices a WHERE a.id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY id ASC
    </select>

    <insert id="insert">
        insert into exam_subject_choices (
            id,
            category_id,
            subject_name,
            choices_type,
            answer,
            score,
            analysis,
            level,
            creator,
            create_date,
            modifier,
            modify_date,
            del_flag,
            application_code,
            tenant_code
        ) values (
            #{id},
            #{categoryId},
            #{subjectName},
            #{choicesType},
            #{answer},
            #{score},
            #{analysis},
            #{level},
            #{creator},
            #{createDate, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{modifier},
            #{modifyDate, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{delFlag},
            #{applicationCode},
            #{tenantCode}
        );
    </insert>

    <update id="update">
        UPDATE exam_subject_choices SET
        <if test="categoryId != null">
            category_id = #{categoryId},
        </if>
        <if test="subjectName != null">
            subject_name = #{subjectName},
        </if>
        <if test="choicesType != null">
            choices_type = #{choicesType},
        </if>
        <if test="answer != null">
            answer = #{answer},
        </if>
        <if test="score != null">
            score = #{score},
        </if>
        <if test="analysis != null">
            analysis = #{analysis},
        </if>
        <if test="level != null">
            level = #{level},
        </if>
        <if test="delFlag != null">
            del_flag = #{delFlag},
        </if>
        modifier = #{modifier},
        modify_date = #{modifyDate, jdbcType=TIMESTAMP, javaType=java.util.Date}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        UPDATE exam_subject_choices SET del_flag = 1 WHERE id = #{id}
    </delete>

    <!-- 物理删除 -->
    <delete id="physicalDelete">
        DELETE FROM exam_subject_choices WHERE id = #{id}
    </delete>

    <!-- 物理删除 -->
    <delete id="physicalDeleteAll">
        DELETE FROM exam_subject_choices WHERE id in
        <foreach item="item" index="index" collection="ids" open="("
                 separator="," close=")">#{item}
        </foreach>
    </delete>
</mapper>
