/.gradle/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-com.github.tangyi.common.basic.cache

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr
out
bin

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.DS_Store
ML-labb
istio-1.5.*

**/package-lock.json
**/*.log
**/*.bin
**/*.lock
logs
data
sg-api/build/
sg-common/build/
sg-generator/build/
sg-job/build/
sg-user-service/build/
sg-exam-service/build/
frontend/sg-exam-next-app/node_modules/
frontend/sg-exam-next-app/dist/
frontend/sg-exam-next-app/yarn.lock
config-repo/env/sg-user-service.env
