<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.user.mapper.TenantMapper">
    <resultMap id="tenantResultMap" type="com.github.tangyi.api.user.module.Tenant">
        <id column="id" property="id"/>
        <result column="tenant_code" property="tenantCode"/>
        <result column="tenant_name" property="tenantName"/>
        <result column="tenant_desc" property="tenantDesc"/>
        <result column="status" property="status"/>
        <result column="creator" property="creator"/>
        <result column="create_date" property="createDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier"/>
        <result column="modify_date" property="modifyDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <sql id="tenantColumns">
        a.id,
        a.tenant_code,
        a.tenant_name,
        a.tenant_desc,
        a.status,
        a.creator,
        a.create_date,
        a.modifier,
        a.modify_date,
        a.del_flag
    </sql>

    <select id="getById" resultMap="tenantResultMap">
        SELECT
        <include refid="tenantColumns"/>
        FROM sys_tenant a
        WHERE a.id = #{id} and a.del_flag = 0
    </select>

    <select id="get" resultMap="tenantResultMap">
        SELECT
        <include refid="tenantColumns"/>
        FROM sys_tenant a
        WHERE a.id = #{id} and a.del_flag = 0
    </select>

    <select id="getByTenantCode" resultMap="tenantResultMap">
        SELECT
        <include refid="tenantColumns"/>
        FROM sys_tenant a
        WHERE a.tenant_code = #{tenantCode} and a.del_flag = 0
    </select>

    <select id="findList" resultMap="tenantResultMap">
        SELECT
        <include refid="tenantColumns"/>
        FROM sys_tenant a
        WHERE a.del_flag = 0
    </select>

    <select id="findListById" resultMap="tenantResultMap">
        SELECT
        <include refid="tenantColumns"/>
        FROM sys_tenant a
        WHERE a.id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="tenantCount" resultType="Integer">
        SELECT COUNT(1) FROM sys_tenant a
        WHERE a.del_flag = 0
    </select>

    <insert id="insert">
        INSERT INTO sys_tenant (
            id,
            tenant_code,
            tenant_name,
            tenant_desc,
            status,
            creator,
            create_date,
            modifier,
            modify_date,
            del_flag
        ) VALUES (
            #{id},
            #{tenantCode},
            #{tenantName},
            #{tenantDesc},
            #{status},
            #{creator},
            #{createDate, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{modifier},
            #{modifyDate, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{delFlag}
        )
    </insert>

    <update id="update">
        UPDATE sys_tenant SET
        <if test="tenantName != null">
            tenant_name = #{tenantName},
        </if>
        <if test="tenantDesc != null">
            tenant_desc = #{tenantDesc},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        <if test="delFlag != null">
            del_flag = #{delFlag},
        </if>
        modifier = #{modifier},
        modify_date = #{modifyDate, jdbcType=TIMESTAMP, javaType=java.util.Date}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        UPDATE sys_tenant SET
        del_flag = 1,
        modifier = #{modifier} ,
        modify_date = #{modifyDate, jdbcType=TIMESTAMP, javaType=java.util.Date}
        WHERE ID = #{id}
    </delete>

    <delete id="deleteAll">
        update sys_tenant SET
        del_flag = 1
        where id in
        <foreach item="item" index="index" collection="ids" open="("
                 separator="," close=")">#{item}
        </foreach>
    </delete>
</mapper>
