<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.user.mapper.UserAuthsMapper">
    <resultMap id="userAuthResultMap" type="com.github.tangyi.api.user.module.UserAuths">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="identity_type" property="identityType" jdbcType="INTEGER"/>
        <result column="identifier" property="identifier"/>
        <result column="credential" property="credential"/>
        <result column="creator" property="creator"/>
        <result column="create_date" property="createDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="modifier" property="modifier"/>
        <result column="modify_date" property="modifyDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag"/>
        <result column="application_code" property="applicationCode"/>
        <result column="tenant_code" property="tenantCode"/>
    </resultMap>

    <sql id="userAuthColumns">
        a.id,
        a.user_id,
        a.identity_type,
        a.identifier,
        a.credential,
        a.creator,
        a.create_date,
        a.modifier,
        a.modify_date,
        a.del_flag,
        a.application_code,
        a.tenant_code
    </sql>

    <!-- where 条件 -->
    <sql id="whereColumnList">
        <if test="identityType != null">
            and a.identity_type = #{identityType, jdbcType=INTEGER}
        </if>
        <if test="tenantCode != null and tenantCode != ''">
            and a.tenant_code = #{tenantCode}
        </if>
    </sql>

    <select id="getById" resultMap="userAuthResultMap">
        SELECT
        <include refid="userAuthColumns"/>
        FROM sys_user_auths a
        WHERE a.id = #{id}
    </select>

    <select id="get" resultMap="userAuthResultMap">
        SELECT
        <include refid="userAuthColumns"/>
        FROM sys_user_auths a
        WHERE a.id = #{id}
    </select>

    <select id="getByIdentifier" resultMap="userAuthResultMap">
        SELECT
        <include refid="userAuthColumns"/>
        FROM sys_user_auths a
        WHERE a.identifier = #{identifier} and a.del_flag = 0
        <include refid="whereColumnList"/>
    </select>

    <select id="getListByUserIds" resultMap="userAuthResultMap">
        SELECT
        <include refid="userAuthColumns"/>
        FROM sys_user_auths a
        WHERE a.user_id IN
        <foreach collection="userIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findList" resultMap="userAuthResultMap">
        SELECT
        <include refid="userAuthColumns"/>
        FROM sys_user_auths a
        WHERE a.del_flag = 0
        <include refid="whereColumnList"/>
    </select>

    <select id="findListById" resultMap="userAuthResultMap">
        SELECT
        <include refid="userAuthColumns"/>
        FROM sys_user_auths a
        WHERE a.id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 新增 -->
    <insert id="insert">
        insert into sys_user_auths (
            id,
            user_id,
            identity_type,
            identifier,
            credential,
            creator,
            create_date,
            modifier,
            modify_date,
            del_flag,
            application_code,
            tenant_code
        ) values (
            #{id},
            #{userId},
            #{identityType, jdbcType=INTEGER},
            #{identifier},
            #{credential},
            #{creator},
            #{createDate, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{modifier},
            #{modifyDate, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{delFlag},
            #{applicationCode},
            #{tenantCode}
        );
    </insert>

    <!-- 批量新增 -->
    <insert id="insertBatch">
        insert into sys_user_auths (
            id,
            user_id,
            identity_type,
            identifier,
            credential,
            creator,
            create_date,
            modifier,
            modify_date,
            del_flag,
            application_code,
            tenant_code
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.userId},
            #{item.identityType, jdbcType=INTEGER},
            #{item.identifier},
            #{item.credential},
            #{item.creator},
            #{item.createDate, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{item.modifier},
            #{item.modifyDate, jdbcType=TIMESTAMP, javaType=java.util.Date},
            #{item.delFlag},
            #{item.applicationCode},
            #{item.tenantCode}
            )
        </foreach>
    </insert>

    <!-- 更新用户 -->
    <update id="update">
        update sys_user_auths set
        <if test="userId != null">
            user_id = #{userId} ,
        </if>
        <if test="identityType != null">
            identity_type = #{identityType, jdbcType=INTEGER} ,
        </if>
        <if test="identifier != null">
            identifier = #{identifier} ,
        </if>
        <if test="credential != null">
            credential = #{credential} ,
        </if>
        <if test="creator != null">
            creator = #{creator} ,
        </if>
        <if test="createDate != null">
            create_date = #{createDate} ,
        </if>
        <if test="delFlag != null">
            del_flag = #{delFlag} ,
        </if>
        <if test="applicationCode != null">
            application_code = #{applicationCode} ,
        </if>
        modifier = #{modifier} ,
        modify_date = #{modifyDate, jdbcType=TIMESTAMP, javaType=java.util.Date}
        where id = #{id}
    </update>

    <update id="delete">
        DELETE FROM sys_user_auths WHERE id = #{id}
    </update>

    <update id="deleteByIdentifier">
        DELETE FROM sys_user_auths WHERE identifier = #{identifier}
    </update>

    <update id="deleteByUserId">
        DELETE FROM sys_user_auths WHERE user_id = #{userId}
    </update>

    <delete id="deleteAll">
        DELETE FROM sys_user_auths WHERE id in
        <foreach item="item" index="index" collection="ids" open="("
                 separator="," close=")">#{item}
        </foreach>
    </delete>
</mapper>
