<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.user.mapper.RoleDeptMapper">
    <resultMap id="roleDeptResultMap" type="com.github.tangyi.user.api.module.RoleDept">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="dept_id" property="deptId"/>
    </resultMap>

    <sql id="roleDeptColumns">
        a.id as "id",
        a.role_id as "role_id",
        a.dept_id as "dept_id"
    </sql>

    <select id="get" resultMap="roleDeptResultMap">
        SELECT
        <include refid="roleDeptColumns"/>
        FROM sys_role_dept a
        WHERE a.role_id = #{roleId}
    </select>

    <select id="getByDeptId" resultMap="roleDeptResultMap">
        SELECT
        <include refid="roleDeptColumns"/>
        FROM sys_role_dept a
        WHERE a.dept_id = #{deptId}
    </select>

    <insert id="insert">
        INSERT  INTO sys_role_dept (
            id,
            role_id,
            dept_id
        ) VALUES (
            #{id},
            #{roleId},
            #{deptId}
        )
    </insert>

    <delete id="deleteByRoleId">
        DELETE from sys_role_dept WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteByDeptId">
        DELETE from sys_role_dept WHERE dept_id = #{deptId}
    </delete>
</mapper>
