.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.editor-content{
  margin-top: 20px;
}
.subject-info {
  padding-right: 12px;
}
.subject-tinymce {
  padding-left: 12px;
}
.collapse-top {
}
