<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.exam.mapper.ExaminationMapper">
    <resultMap id="examinationResultMap" type="com.github.tangyi.api.exam.model.Examination">
        <id column="id" property="id"/>
        <result column="examination_name" property="examinationName"/>
        <result column="type" property="type"/>
        <result column="attention" property="attention"/>
        <result column="start_time" property="startTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="exam_duration_minute" property="examDurationMinute"/>
        <result column="total_score" property="totalScore"/>
        <result column="status" property="status"/>
        <result column="image_id" property="imageId"/>
        <result column="course_id" property="courseId"/>
        <result column="sort" property="sort"/>
        <result column="tags" property="tags"/>
        <result column="answer_type" property="answerType"/>
        <result column="access_type" property="accessType"/>
        <result column="show_subject_type" property="showSubjectType"/>
        <result column="max_exam_cnt" property="maxExamCnt"/>
        <result column="remark" property="remark"/>
        <result column="creator" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="operator" property="operator"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
        <result column="tenant_code" property="tenantCode"/>
    </resultMap>

    <select id="findPage" resultMap="examinationResultMap">
        SELECT * FROM exam_examination a WHERE a.is_deleted = 0
        <if test="params != null">
            <if test="params.tenantCode != null and params.tenantCode != ''">
                AND tenant_code = #{params.tenantCode}
            </if>
            <if test="params.examinationName != null and params.examinationName != ''">
                AND (examination_name LIKE CONCAT('%',#{params.examinationName},'%'))
            </if>
            <if test="params.type != null and params.type != ''">
                AND type = #{params.type}
            </if>
            <if test="params.status != null and params.status != ''">
                AND status = #{params.status}
            </if>
        </if>
        <choose>
            <when test="params.sortField != null and params.sortField != '' and params.sortOrder != null and params.sortOrder != ''">
                ORDER BY #{params.sortField} #{params.sortOrder}
            </when>
            <otherwise>
                ORDER BY update_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllExaminationCount" resultType="java.lang.Long">
        SELECT COUNT(1) FROM exam_examination a WHERE a.is_deleted = 0
    </select>

    <select id="findIdsOrderByIdAsc" resultType="java.lang.Long">
        SELECT a.id FROM exam_examination a WHERE a.id >= #{minId} AND a.is_deleted = 0 ORDER BY a.id ASC LIMIT #{pageSize}
    </select>

    <select id="findList" resultMap="examinationResultMap">
        SELECT * FROM exam_examination a WHERE a.is_deleted = 0
    </select>

    <select id="findListById" resultMap="examinationResultMap">
        SELECT * FROM exam_examination a
        WHERE a.id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findUserExaminations" resultMap="examinationResultMap">
        SELECT *
        FROM exam_examination a
        WHERE a.is_deleted = 0 AND a.status = 1 AND a.tenant_code = #{params.tenantCode}
        <if test="params.examinationName != null and params.examinationName != ''">
            AND (examination_name LIKE CONCAT('%',#{params.examinationName},'%'))
        </if>
        <if test="params.type != null and params.type != ''">
            AND type = #{params.type}
        </if>
        <if test="params.status != null and params.status != ''">
            AND status = #{params.status}
        </if>
        AND (
        a.access_type = 0
        <if test="params.userId != null">
            OR (a.access_type = 1 AND a.id IN (SELECT exam_id
            FROM exam_examination_member
            WHERE exam_type = 1
            AND member_type = 1
            AND member_id = #{params.userId}))
        </if>
        <if test="params.deptId != null">
            OR (a.access_type = 2 AND a.id IN (SELECT exam_id
            FROM exam_examination_member
            WHERE exam_type = 1 AND member_type = 2 AND member_id = #{params.deptId}))
        </if>
        )
        <if test="params.sort != null">
            <choose>
                <when test="params.sort == 'id'">
                    ORDER BY id DESC
                </when>
                <when test="params.sort == 'create_time'">
                    ORDER BY create_time DESC
                </when>
                <!-- 其他情况 -->
                <otherwise>
                    <!-- 默认排序 -->
                    ORDER BY id DESC
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="findExaminationByCourseId" resultMap="examinationResultMap">
        SELECT * FROM exam_examination a
        WHERE a.course_id = #{courseId} AND a.is_deleted = 0
    </select>

    <select id="findExaminationCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM exam_examination a WHERE a.is_deleted = 0
    </select>

    <select id="findExamUserCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM (SELECT user_id FROM exam_examination_record WHERE tenant_code = #{tenantCode} GROUP BY user_id) a
    </select>

    <select id="findExaminationRecordCountByExaminationId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM exam_examination_record a WHERE a.is_deleted = 0 and examination_id = #{examinationId}
    </select>

    <delete id="delete">
        UPDATE exam_examination SET is_deleted = 1 WHERE id = #{id}
    </delete>

    <delete id="deleteAll">
        UPDATE exam_examination SET is_deleted = 1 WHERE id IN
        <foreach item="item" index="index" collection="ids" open="("
                 separator="," close=")">#{item}
        </foreach>
    </delete>
</mapper>
