<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.exam.mapper.PicturesMapper">
    <resultMap id="picturesResultMap" type="com.github.tangyi.api.exam.model.Pictures">
        <id column="id" property="id"/>
        <result column="picture_address" property="examRecordId"/>
        <result column="attachment_id" property="subjectId"/>
        <result column="creator" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="operator" property="operator"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
        <result column="tenant_code" property="tenantCode"/>
    </resultMap>

    <select id="findPage" resultMap="picturesResultMap">
        SELECT * FROM exam_pictures a WHERE a.is_deleted = 0
        <if test="params != null">
            <if test="params.tenantCode != null and params.tenantCode != ''">
                AND tenant_code = #{params.tenantCode}
            </if>
        </if>
    </select>

    <delete id="delete">
        UPDATE exam_pictures SET is_deleted = 1 WHERE id = #{id}
    </delete>
</mapper>
