<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.exam.mapper.ExamCourseMemberMapper">
    <resultMap id="examCourseMemberResultMap" type="com.github.tangyi.api.exam.model.ExamCourseMember">
        <id column="id" property="id"/>
        <result column="course_id" property="courseId"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="operator" property="operator"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
        <result column="tenant_code" property="tenantCode"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <select id="findPage" resultMap="examCourseMemberResultMap">
        SELECT * FROM exam_course_member WHERE is_deleted = 0
        <if test="params != null">
            <if test="params.courseId != null and params.courseId != ''">
                AND course_id = #{params.courseId}
            </if>
            <if test="params.tenantCode != null and params.tenantCode != ''">
                AND tenant_code = #{params.tenantCode}
            </if>
        </if>
        <choose>
            <when test="params.sortField != null and params.sortField != '' and params.sortOrder != null and params.sortOrder != ''">
                ORDER BY #{params.sortField} #{params.sortOrder}
            </when>
            <otherwise>
                ORDER BY update_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="findList" resultMap="examCourseMemberResultMap">
        SELECT * FROM exam_course_member a WHERE a.is_deleted = 0 AND a.tenant_code = #{tenantCode}
    </select>

    <select id="findListById" resultMap="examCourseMemberResultMap">
        SELECT * FROM exam_course_member a WHERE a.id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findMemberCountByCourseId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM exam_course_member a WHERE a.course_id = #{courseId}
    </select>

    <select id="findMembersByCourseId" resultMap="examCourseMemberResultMap">
        SELECT * FROM exam_course_member a WHERE a.course_id = #{courseId}
    </select>

    <select id="findByCourseIdAndUserId" resultMap="examCourseMemberResultMap">
        SELECT * FROM exam_course_member a WHERE a.course_id = #{courseId} AND a.user_id = #{userId}
    </select>

    <delete id="delete">
        DELETE FROM exam_course_member WHERE id = #{id}
    </delete>

    <delete id="deleteAll">
        DELETE FROM exam_course_member WHERE id IN
        <foreach item="item" index="index" collection="ids" open="("
                 separator="," close=")">#{item}
        </foreach>
    </delete>

    <delete id="deleteByCourseIdAndUserId">
        DELETE FROM exam_course_member WHERE course_id = #{courseId} AND user_id = #{userId}
    </delete>
</mapper>
