@font-face {
  font-family: "iconfont"; /* Project id 4439465 */
  src: url('//at.alicdn.com/t/c/font_4439465_xq58zhdkbm.woff2?t=1715352839463') format('woff2'),
  url('//at.alicdn.com/t/c/font_4439465_xq58zhdkbm.woff?t=1715352839463') format('woff'),
  url('//at.alicdn.com/t/c/font_4439465_xq58zhdkbm.ttf?t=1715352839463') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-collapse:before {
  content: "\e625";
}

.icon-delete:before {
  content: "\e66e";
}

.icon-user:before {
  content: "\e682";
}

.icon-yajun1:before {
  content: "\e694";
}

.icon-jijun1:before {
  content: "\e6af";
}

.icon-guanjun:before {
  content: "\e6db";
}
