
body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-family: FZLTHJW--GB1-0,FZLTHJW--GB1;
  line-height: 1.8;
}

a {
  text-decoration: none;
  outline: none;
  color: #FFFFFF;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.active {
  color: #c81623;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  *zoom: 1
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.layout-container {
  min-height: 400px;
  background: #E6E6E6;
}

.gray-box {
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  border-color: rgba(0, 0, 0, .14);
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);
}

%home-common {
  max-width: 1220px;
  margin: auto auto 30px;
  font-family: FZLTHJW--GB1-0,FZLTHJW--GB1;
  text-align: center;
}

%message-common {
  font-size: 48px;
  text-align: center;
  font-weight: 400;
  color: #4f403b;
  line-height: 55px;
  background-size: 236px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 25px;
  margin-bottom: 50px;
}

%img-common {
  -webkit-box-flex: 1;
  flex: 1;
  position: relative;
  z-index: 1;
}

.app-container {
  padding: 20px;
}

.common-container {
  margin-top: 30px;
}
.pagination-container {
  margin-top: 30px;
}

%content-container {
  margin-top: 70px;
}

.el-button {
  margin: 2px;
}
