@import 'theme_color';
@import '_fonts';
@import 'mixin';
@import 'responsive';
@import 'transition';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $opensans-font;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  line-height: 1.3;
  font-weight: 700;

}

p {
  font-family: $raleway-font;
  color: $text-color;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
}

a,
a:hover,
a:focus {
  @include trans-duration(500ms);
  text-decoration: none;
  outline: 0 solid transparent;
  color: $heading-color;
  font-weight: 600;
  font-size: 14px;
}

ul,
ol {
  margin: 0;
  li {
    list-style: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.padding-80-0 {
  padding-top: 80px;
  padding-bottom: 0;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mr-100 {
  margin-right: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.padding-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.mb-30 {
  margin-bottom: 30px;
}
.w-100 {
  width: 100%;
}
.justify-content-center {
  @include justify-content(center);
}

.align-items-center {
  @include align-items(center)
}

.d-flex {
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.justify-content-between {
  @include justify-content-between
}

.header-area.vue-fixed-header--isFixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
}

.header-area {
  z-index: 1500 !important;
  background-color: $white-color;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  .clever-main-menu {
    position: relative;
    width: 100%;
    height: 70px;
    .classy-navbar {
      padding: .5em 2em;
      display: flex;
      align-items: center;
      justify-content: space-between!important;
      .nav-brand {
        color: #565656;
        display: inline-block;
        margin-right: 30px;
        font-size: 30px;
        font-weight: 600;
      }
      .nav-brand:focus, .classy-navbar .nav-brand:hover {
        font-size: 26px;
        font-weight: 500;
      }
    }
    .classynav {
      .el-menu--horizontal {
        border-bottom: none;
        .el-menu-item {
          padding: 0 12px;
          display: block;
          border-bottom: none;
        }
        .el-submenu {
          .el-submenu__title {
            border-bottom: none !important;
          }
        }
      }
    }
    .classynav ul li a {
      color: rgba(0, 0, 0, 0.45);
      font-weight: 600;
      @media #{$breakpoint-lg} {
        padding: 0 8px;
      }
      &:hover,
      &:focus {
        color: $heading-color;
      }
    }
    .classy-nav-container a {
      @include trans-duration(500ms);
      color: #232323;
      display: inline-block;
      text-decoration: none;
      outline: 0;
    }
    .search-area {
      position: relative;
      width: 230px;
      height: 40px;
      margin: 0 50px;
      @media #{$breakpoint-lg} {
        width: 170px;
        margin: 0 15px;
      }
      @media #{$breakpoint-md} {
        margin: 15px auto;
      }
      @media #{$breakpoint-xs} {
        margin: 15px auto;
      }
      input {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        border: 1px solid $border-color;
        padding: 0 15px 0 50px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.35);
        font-weight: 600;
        @include trans-duration(500ms);
        &:focus {
          border: 1px solid rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
.classy-nav-container * {
  box-sizing: border-box;
}

.classy-navbar-toggler {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .clever-main-menu .classynav ul li a {
    padding: 0 8px;
  }
}

.clever-main-menu .classynav ul li a:hover, .clever-main-menu .classynav ul li a:focus {
  color: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .clever-main-menu .search-area form {
    width: 170px;
    margin: 0 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .clever-main-menu .search-area form {
    margin: 15px auto;
  }
}

@media only screen and (max-width: 767px) {
  .clever-main-menu .search-area form {
    margin: 15px auto;
  }
}

.classycloseIcon, .dd-trigger {
  position: absolute;
  display: none;
}

.breakpoint-off .classynav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.breakpoint-off .classynav, .classy-navbar {
  -webkit-box-align: center;
  -ms-grid-row-align: center;
}

.register-login-area {
  position: relative;
  z-index: 1;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.register-login-area a {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  color: #3762f0;
  line-height: 40px;
}

.classy-nav-container a, .classy-nav-container a:focus, .classy-nav-container a:hover {
  @include trans-duration(500ms);
  text-decoration: none;
  outline: 0;
  font-size: 14px;
  font-weight: 400;
}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
  background-image: none;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.register-login-area a.active, .register-login-area a:hover, .register-login-area a:focus {
  background-color: #d7e0fc;
  font-weight: 600;
  color: #3762f0;
}

.register-login-area a {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  color: #3762f0;
  line-height: 40px;
}

.classy-nav-container a, .classy-nav-container a:focus, .classy-nav-container a:hover {
  @include trans-duration(500ms);
  text-decoration: none;
  outline: 0;
  font-size: 14px;
  font-weight: 400;
}

.el-menu-link {
  color: rgba(0, 0, 0, 0.45)!important;
  font-size: 14px;
  padding: 0 20px;
  cursor: pointer;
}

/* 首页 */
.hero-area {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 325px;
  align-items: center!important;
  background-image: url("/static/img/bg-img/bg1.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  ::after {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
  .hero-content {
    text-align: center;
    h2 {
      font-size: 40px;
      margin-bottom: 10px;
      font-weight: 700;
      color: $white-color;
    }
    h4 {
      font-size: 22px;
      margin-bottom: 20px;
      font-weight: 500;
      color: $white-color;
    }
  }
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.clever-btn {
  @include trans-duration(300ms);
  display: inline-block;
  min-width: 160px;
  height: 40px;
  background-color: #3762f0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  color: $white-color;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 0 30px;
  line-height: 40px;
  text-align: center;
}
.single-cool-facts-area {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 30px;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  margin-bottom: 80px !important;
  cursor: pointer;
}
.popular-courses-area {
  position: relative;
  background-repeat: repeat;
  background-image: url(/static/img/core-img/texture.png);
  height: 600px;
}

.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
  text-align: center;
  h3 {
    font-size: 30px;
    margin-bottom: 0;
    @media #{$breakpoint-xs} {
      font-size: 24px;
    }
  }
  &.text-left {
    text-align: left !important;
  }
  &.white {
    h3 {
      color: $white-color;
    }
  }
}

.single-popular-course {
  position: relative;
  z-index: 1;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  background-color: $white-color;
  cursor: pointer;
  img {
    height: 200px;
    overflow: hidden;
    display: block;
    width: 100%;
    border-radius: 6px 6px 0 0;
  }
  .course-content {
    padding: 25px;
    height: 140px;
    overflow: hidden;
    h4 {
      margin-bottom: 5px;
    }
    .meta {
      margin-bottom: 15px;
      span {
        color: rgba(0, 0, 0, 0.4);
        font-size: 5px;
        margin-right: 10px;
      }
      a {
        color: rgba(0, 0, 0, 0.4);
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        margin-right: 10px;
        &:hover {
          color: #000;
        }
      }
    }
    p {
      margin-bottom: 0;
    }
  }
  .seat-rating-fee {
    position: absolute;
    bottom: 0;
    display: inline-flex;
    width: 100%;
    height: 40px;
    background-color: $bg-gray;
    border-radius: 0 0 6px 6px;
    .seat-rating {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.3);
      font-weight: 600;
      height: 100%;
      align-items: center;
      div {
        display: inline-block;
        padding: 0 20px;
        border-right: 1px solid $border-color;
        height: 100%;
        line-height: 40px;
      }
      i {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.3);
      }
    }
    .course-fee {
      a {
        display: inline-block;
        width: 70px;
        height: 40px;
        border-radius: 0 0 6px 0;
        background-color: #e3d21b;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: $white-color;
        letter-spacing: 0.75px;
        &.free {
          background-color: $bg-default;
        }
      }
    }
    .course-charge {
      a {
        display: inline-block;
        width: 70px;
        height: 40px;
        border-radius: 0 0 6px 0;
        background-color: #ee4f12;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: $white-color;
        letter-spacing: 0.75px;
        &.free {
          background-color: $bg-default;
        }
      }
    }
  }
}

.single-blog-area {
  position: relative;
  z-index: 1;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  cursor: pointer;
  img {
    display: block;
    width: 100%;
    border-radius: 6px 6px 0 0;
  }
  .blog-content {
    padding: 25px;
    .blog-headline {
      display: block;
      h4 {
        margin-bottom: 5px;
        margin-left: -1px;
        @include trans-duration(500ms);
        &:hover,
        &:focus {
          color: $hover-color;
        }
      }
    }
    .meta {
      margin-bottom: 15px;
      span {
        color: rgba(0, 0, 0, 0.4);
        font-size: 5px;
        margin-right: 10px;
      }
      a {
        color: rgba(0, 0, 0, 0.4);
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        margin-right: 10px;
        @media #{$breakpoint-xs} {
          font-size: 12px;
        }
        &:hover {
          color: #000;
        }
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}

/* 返回顶部 */
.go-top-box {
  background-color: $white-color;
  position: fixed;
  right: 50px;
  bottom: 150px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: .3s;
  box-shadow: 0 0 6px rgba(0,0,0,.12);
  z-index: 5;
}
.top-icon {
  color: #409eff;
  display: block !important;
  line-height: 40px !important;
  text-align: center;
  font-size: 18px;
}

.content-container {
  margin-top: 2rem;
  margin-left: 100px;
  margin-right: 100px;
}


.single-course-intro {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 350px;
  .single-course-intro-content {
    width: 425px;
    height: auto;
    padding: 30px;
    background-color: $white-color;
    border-radius: 6px;
    @media #{$breakpoint-xs} {
      width: 280px;
    }
    .ratings {
      margin-bottom: 20px;
      i {
        color: #e3d21b;
        font-size: 13px;
        padding: 0 3px;
        display: inline-block;
      }
    }
    h3 {
      font-size: 30px;
      margin-bottom: 10px;
      @media #{$breakpoint-xs} {
        font-size: 24px;
      }
    }
    .meta {
      margin-bottom: 30px;
      span {
        color: rgba(0, 0, 0, 0.4);
        font-size: 5px;
        margin-right: 10px;
      }
      a {
        color: rgba(0, 0, 0, 0.4);
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        margin-right: 10px;
        &:hover {
          color: #000;
        }
      }
    }
    .price {
      font-size: 12px;
      text-transform: uppercase;
      color: $bg-default;
      letter-spacing: 0.75px;
      font-weight: 700;
    }
  }
}

.clever-description {
  position: relative;
  z-index: 1;
  .about-course {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    h4 {
      margin-bottom: 20px;
      display: block;
    }
    p {
      font-size: 16px;
      line-height: 1.9;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media #{$breakpoint-xs} {
      padding: 30px;
    }
  }
  .all-instructors {
    padding: 40px 40px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    @media #{$breakpoint-xs} {
      padding: 30px 30px 0;
    }
    h4 {
      margin-bottom: 25px;
      display: block;
    }
    .single-instructor {
      position: relative;
      z-index: 1;
      background-color: $bg-gray;
      border-radius: 6px;
      .instructor-thumb {
        @include flex(0 0 80px);
        width: 80px;
        max-width: 80px;
        height: 80px;
      }
      .instructor-info {
        padding-left: 25px;
        h5 {
          font-size: 18px;
          margin-bottom: 5px;
          @media #{$breakpoint-xs} {
            font-size: 14px;
          }
        }
        span {
          font-weight: 400;
          color: rgba(0, 0, 0, 0.4);
          font-size: 14px;
        }
      }
    }
  }
  .clever-faqs {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    h4 {
      margin-bottom: 25px;
      display: block;
    }
    @media #{$breakpoint-xs} {
      padding: 30px;
    }
  }
}

.about-curriculum {
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  h4 {
    margin-bottom: 20px;
    display: block;
  }
  p {
    font-size: 16px;
    line-height: 1.9;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media #{$breakpoint-xs} {
    padding: 30px;
  }
}
.curriculum-level {
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  h4 {
    margin-bottom: 20px;
    display: block;
  }
  h5 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
  }
  .curriculum-list {
    li {
      display: block;
      margin-bottom: 10px;
      font-family: $raleway-font;
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.5);
      &:last-child {
        margin-bottom: 0;
      }
      i {
        color: #e3d21b;
        margin-right: 5px;
        display: inline-block;
      }
      ul {
        display: block;
        margin-top: 10px;
        padding-left: 25px;
        li {
          margin-bottom: 0;
          @include display-flex(flex);
          @include justify-content-between;
          padding: 10px 0;
          border-bottom: 1px solid $border-color;
          span {
            span {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  @media #{$breakpoint-xs} {
    padding: 30px;
  }
}

.about-review {
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  h4 {
    margin-bottom: 20px;
    display: block;
  }
  p {
    font-size: 16px;
    line-height: 1.9;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media #{$breakpoint-xs} {
    padding: 30px;
  }
}
.clever-ratings {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  @media #{$breakpoint-xs} {
    @include flex-wrap(wrap);
  }
  .total-ratings {
    @include flex(0 0 235px);
    min-width: 235px;
    width: 235px;
    border-right: 1px solid $border-color;
    height: 250px;
    @media #{$breakpoint-xs} {
      @include flex(0 0 100%);
      min-width: 100%;
      width: 100%;
      border-right: none;
      border-bottom: 1px solid $border-color;
    }
    h2 {
      font-size: 60px;
      margin-bottom: 5px;
    }
    .ratings-- {
      margin-bottom: 10px;
      i {
        font-size: 18px;
        display: inline-block;
        padding: 0 5px;
        color: #e3d21b;
      }
    }
    span {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.3);
    }
  }
  .rating-viewer {
    padding: 50px 40px 35px;
    @media #{$breakpoint-xs} {
      padding: 40px 30px 25px;
    }
    span {
      color: rgba(0, 0, 0, 0.3);
      font-size: 12px;
      text-transform: uppercase;
      padding-right: 15px;
      @media #{$breakpoint-lg} {
        padding-right: 5px;
        font-size: 11px;
      }
      @media #{$breakpoint-xs} {
        padding-right: 5px;
        font-size: 11px;
      }
    }
    .progress {
      width: 300px;
      margin-right: 15px;
      height: 10px;
      border-radius: 0;
      background-color: #f1f1f1;
      @media #{$breakpoint-lg} {
        width: 200px;
      }
      @media #{$breakpoint-md} {
        width: 140px;
      }
      @media #{$breakpoint-xs} {
        width: 140px;
      }
      .progress-bar {
        background-color: #b3b3b3;
      }
    }
  }
  .single-review {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    @media #{$breakpoint-xs} {
      padding: 30px;
    }
    p {
      margin-bottom: 0;
    }
    .review-admin {
      .thumb {
        @include flex(0 0 40px);
        max-width: 40px;
        width: 40px;
      }
      .text {
        padding-left: 15px;
        h6 {
          font-size: 14px;
          margin-bottom: 0;
        }
        span {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
    .ratings {
      i {
        font-size: 14px;
        display: inline-block;
        padding: 0 3px;
        color: #e3d21b;
      }
    }
  }
}

.about-members {
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  @media #{$breakpoint-xs} {
    padding: 30px;
  }
  h4 {
    margin-bottom: 20px;
    display: block;
  }
  p {
    font-size: 16px;
    line-height: 1.9;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.all-instructors {
  padding: 40px 40px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  @media #{$breakpoint-xs} {
    padding: 30px 30px 0;
  }
  h4 {
    margin-bottom: 25px;
    display: block;
  }
  .single-instructor {
    position: relative;
    z-index: 1;
    background-color: $bg-gray;
    border-radius: 6px;
    .instructor-thumb {
      @include flex(0 0 80px);
      width: 80px;
      max-width: 80px;
      height: 80px;
    }
    .instructor-info {
      padding-left: 25px;
      h5 {
        font-size: 18px;
        margin-bottom: 5px;
        @media #{$breakpoint-xs} {
          font-size: 14px;
        }
      }
      span {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
      }
    }
  }
}

.sidebar-widget {
  position: relative;
  z-index: 1;
  padding: 35px 30px;
  border: 1px solid $border-color;
  border-bottom: none;
  &:last-child {
    border-bottom: 1px solid $border-color;
  }
  h4 {
    margin-bottom: 20px;
    font-size: 24px;
    display: block;
  }
  .features-list {
    li {
      @include display-flex(flex);
      @include justify-content-between;
      margin-bottom: 5px;
      h6 {
        color: rgba(0, 0, 0, 0.3);
        font-size: 14px;
        @media #{$breakpoint-xs} {
          font-size: 14px;
        }
        i {
          margin-right: 10px;
        }
      }
    }
  }
  .single--courses {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    .thumb {
      @include flex(0 0 80px);
      width: 80px;
      max-width: 80px;
      height: 50px;
      border-radius: 6px;
      cursor: pointer;
      img {
        border-radius: 6px;
      }
    }
    .content {
      padding-left: 20px;
      h5 {
        font-size: 18px;
        margin-bottom: 5px;
        color: rgba(0, 0, 0, 0.35);
        @media #{$breakpoint-xs} {
          font-size: 14px;
        }
      }
      h6 {
        font-size: 12px;
        color: #e3d21b;
        margin-bottom: 0;
      }
    }
  }
}

.single-course-content {
  .el-tabs__nav {
    margin-bottom: 20px;
  }
  .el-tabs__active-bar {
    height: 0!important;
  }
  .el-tabs__nav-wrap::after {
    height: 0;
  }
  .el-tab-pane {
    margin: 20px;
  }
  .el-tabs__header {
    margin-left: 30px;
  }
}
