@import 'theme_color';

.subject-exam-title {
  font-size: 18px;
  line-height: 25px;
  padding: 18px 20px;
  border-bottom: 1px solid $white-color;
  margin-bottom: 12px;
}

.subject {
  padding-left: 30px;
  padding-right: 75px;
}

.subject-content {
  margin-top: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  background: $white-color;
  z-index: 1;
  position: relative;
}

.subject-title {
  font-size: 18px;
  margin-bottom: 10px;

  .subject-title-number {
    display: inline-block;
    line-height: 22px;
  }

  .subject-title-content {
    p {
      font-size: 18px !important;
    }
  }
}

.subject-options {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    position: relative;
    font-size: 24px;

    .toggle {
      opacity: 0;
      text-align: center;
      width: 35px;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      border: none;
      -webkit-appearance: none;
      appearance: none;
    }

    .toggle + label {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB0PSIxNjgzNzI3OTgxMTI0IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwOTcgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjUyMTgiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCI+PHBhdGggZD0iTTU1OC40NDU3MTQgMGE1MTIgNTEyIDAgMSAwIDAgMTAyNCA1MTIgNTEyIDAgMCAwIDAtMTAyNG0wIDU0Ljg1NzE0M0E0NTcuNjU0ODU3IDQ1Ny42NTQ4NTcgMCAwIDEgMTAxNS41ODg1NzEgNTEyYTQ1Ny42NTQ4NTcgNDU3LjY1NDg1NyAwIDAgMS00NTcuMTQyODU3IDQ1Ny4xNDI4NTdBNDU3LjY1NDg1NyA0NTcuNjU0ODU3IDAgMCAxIDEwMS4zMDI4NTcgNTEyIDQ1Ny42NTQ4NTcgNDU3LjY1NDg1NyAwIDAgMSA1NTguNDQ1NzE0IDU0Ljg1NzE0MyIgZmlsbD0iIzhhOGE4YSIgcC1pZD0iNTIxOSI+PC9wYXRoPjwvc3ZnPg==');
      background-repeat: no-repeat;
      background-position: 0 10px;
      background-size: 22px;
    }

    .toggle:checked + label {
      background-size: 22px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB0PSIxNjgzNzI4MTY3Njk0IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjcyNjQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCI+PHBhdGggZD0iTTUxMiAxMDYuNjY3QTQwNS4zMzMgNDA1LjMzMyAwIDEgMSAxMDYuNjY3IDUxMiA0MDUuMzMzIDQwNS4zMzMgMCAwIDEgNTEyIDEwNi42NjdtMC02NEE0NjkuMzMzIDQ2OS4zMzMgMCAxIDAgOTgxLjMzMyA1MTIgNDY5LjMzMyA0NjkuMzMzIDAgMCAwIDUxMiA0Mi42Njd6IiBwLWlkPSI3MjY1IiBmaWxsPSIjNDA5RUZGIj48L3BhdGg+PHBhdGggZD0iTTQ0OCA3MTQuNjY3YTMyIDMyIDAgMCAxLTIyLjYxMy05LjM4N2wtMTkyLTE5MmEzMiAzMiAwIDAgMSA0NS4yMjYtNDUuMjI3TDQ0OCA2MzcuNDRsMjk3LjM4Ny0yOTcuMzg3YTMyIDMyIDAgMCAxIDQ1LjIyNiA0NS4yMjdsLTMyMCAzMjBBMzIgMzIgMCAwIDEgNDQ4IDcxNC42Njd6IiBwLWlkPSI3MjY2IiBmaWxsPSIjNDA5RUZGIj48L3BhdGg+PC9zdmc+');
    }

    label {
      display: flex;
      word-break: break-all;
      padding: 10px 10px 10px 31px;
      transition: color 0.4s;
    }

    .subject-option-prefix {
      font-size: 16px;
      display: inline-block
    }
  }
}

.subject-answer {
  padding: 16px;
}

.subject-video-info {

}

.subject-speech-info {
  overflow: hidden;
}

.subject-box {
  margin-top: 30px;
  margin-left: 20px;
}

.subject-box-content {
  background-color: #fff;
  box-shadow: 0 0 4px -2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  .subject-left {
    flex: 1 1 35%;
    padding: 15px 30px;
    background-color: #fff;
    position: relative;
    .subject-buttons {
      padding: 30px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid rgba(216,216,216,.5);
    }
  }
  .subject-right {
    flex: 1;
    padding: 30px;
    background-color: #f3f5f8;
    .subject-right-answer {
      height: calc(100% - 120px);
      overflow: auto;
    }
    .answered {
      color: #fff;
      background-color: #67c23a;
      border-color: #67c23a;
    }
    .not-answered {
      background-color: #e7eaef;
      border: 1px solid #e7eaef;
    }
    .subject-right-status {
      position: sticky;
      bottom: 0;
      border-top: 1px solid rgba(216, 216, 216, 0.5);
      padding-top: 20px;
      display: flex;
      flex-wrap: wrap;
      .status-item {
        margin: 0 20px 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .answered-label {
        background-color: #67c23a;
        border: 1px solid #67c23a;
        width: 15px;
        height: 15px;
        border-radius: 4px;
        margin-right: 10px;
        display: inline-block;
      }
      .unanswered-label {
        background-color: #e7eaef;
        border: 1px solid #c9cbd2;
        width: 15px;
        height: 15px;
        border-radius: 4px;
        margin-right: 10px;
        display: inline-block;
      }
    }
    .subject-right-footer {
      width: 100%;
      background-color: $bg-default;
      color: #fff;
      padding: 8px 16px;
      border-radius: 6px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.subject-box-card {
  position: relative;
  height: 400px;
  overflow: auto;
  margin-bottom: 30px;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tool-bar-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tool-bar-timer span {
  color: #606266;
  font-size: 1.5em;
  font-weight: bold;
}

.current-progress {
  color: #303133;
}

.tool-bar-card {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer-card {
  margin-left: 20px;
}

.answer-card-title {
  font-size: 13px;
  color: #3a3e51;
  line-height: 17px;
  padding: 10px 0;
}

.answer-card-split {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.answer-card-content {
  padding-bottom: 10px;
  font-size: 0;
  margin-right: -15px;

  > button {
    margin-top: 10px;
  }
}

