.subject-exam-title{
  font-size: 18px;
  line-height: 25px;
  padding: 18px 20px;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 12px;
}
.subject {
  padding-left: 30px;
  padding-right: 75px;
}
.subject-content{
  margin-top: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  background: #fff;
  z-index: 1;
  position: relative;
}

.subject-title {
  display: flex;
  font-size: 18px;
  margin-bottom: 10px;
  .subject-title-number {
    display: inline-block;
    line-height: 22px;
  }
  .subject-title-content {
    display: flex;
    p {
      font-size: 18px !important;
    }
  }
}
.subject-options {
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    position: relative;
    font-size: 24px;
    .toggle {
      opacity: 0;
      text-align: center;
      width: 35px;
      /* auto, since non-WebKit browsers doesn't support input styling */
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      border: none;
      /* Mobile Safari */
      -webkit-appearance: none;
      appearance: none;
    }
    .toggle+label {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB0PSIxNjgzNzI3OTgxMTI0IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwOTcgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjUyMTgiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCI+PHBhdGggZD0iTTU1OC40NDU3MTQgMGE1MTIgNTEyIDAgMSAwIDAgMTAyNCA1MTIgNTEyIDAgMCAwIDAtMTAyNG0wIDU0Ljg1NzE0M0E0NTcuNjU0ODU3IDQ1Ny42NTQ4NTcgMCAwIDEgMTAxNS41ODg1NzEgNTEyYTQ1Ny42NTQ4NTcgNDU3LjY1NDg1NyAwIDAgMS00NTcuMTQyODU3IDQ1Ny4xNDI4NTdBNDU3LjY1NDg1NyA0NTcuNjU0ODU3IDAgMCAxIDEwMS4zMDI4NTcgNTEyIDQ1Ny42NTQ4NTcgNDU3LjY1NDg1NyAwIDAgMSA1NTguNDQ1NzE0IDU0Ljg1NzE0MyIgZmlsbD0iIzhhOGE4YSIgcC1pZD0iNTIxOSI+PC9wYXRoPjwvc3ZnPg==');
      background-repeat: no-repeat;
      background-position: 0 10px;
      background-size: 22px;
    }
    .toggle:checked+label {
      background-size: 22px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB0PSIxNjgzNzI4MTY3Njk0IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjcyNjQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCI+PHBhdGggZD0iTTUxMiAxMDYuNjY3QTQwNS4zMzMgNDA1LjMzMyAwIDEgMSAxMDYuNjY3IDUxMiA0MDUuMzMzIDQwNS4zMzMgMCAwIDEgNTEyIDEwNi42NjdtMC02NEE0NjkuMzMzIDQ2OS4zMzMgMCAxIDAgOTgxLjMzMyA1MTIgNDY5LjMzMyA0NjkuMzMzIDAgMCAwIDUxMiA0Mi42Njd6IiBwLWlkPSI3MjY1IiBmaWxsPSIjNDA5RUZGIj48L3BhdGg+PHBhdGggZD0iTTQ0OCA3MTQuNjY3YTMyIDMyIDAgMCAxLTIyLjYxMy05LjM4N2wtMTkyLTE5MmEzMiAzMiAwIDAgMSA0NS4yMjYtNDUuMjI3TDQ0OCA2MzcuNDRsMjk3LjM4Ny0yOTcuMzg3YTMyIDMyIDAgMCAxIDQ1LjIyNiA0NS4yMjdsLTMyMCAzMjBBMzIgMzIgMCAwIDEgNDQ4IDcxNC42Njd6IiBwLWlkPSI3MjY2IiBmaWxsPSIjNDA5RUZGIj48L3BhdGg+PC9zdmc+');
    }
    label {
      display: flex;
      word-break: break-all;
      padding: 10px 10px 10px 31px;
      transition: color 0.4s;
    }
    /* 选项名称 */
    .subject-option-prefix {
      font-size: 16px;
      display: inline-block
    }
  }
}
.subject-answer {
  padding: 16px;
}

.subject-video-info {

}
