page {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
  Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei',
  sans-serif;
  height: 100%;
}

.bg-white {
  background-color: white;
}

.round-btn {
  padding: 0 10px;
  margin-right: 10px;
  border-radius: 999px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-show-item {
  box-shadow: 0 3px 8px rgb(0 0 0 / 15%);
}

.mb-bottom-20 {
  margin-bottom: 20px;
}