<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tangyi.user.mapper.SysMessageMapper">
    <resultMap id="sysMessageResultMap" type="com.github.tangyi.api.user.model.SysMessage">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="type" property="type"/>
        <result column="sender" property="sender"/>
        <result column="receiver_type" property="receiverType"/>
        <result column="status" property="status"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="operator" property="operator"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
        <result column="tenant_code" property="tenantCode"/>
    </resultMap>

    <select id="findPage" resultMap="sysMessageResultMap">
        SELECT * FROM sys_message WHERE is_deleted = 0
        <if test="params != null">
            <if test="params.title != null and params.title != ''">
                AND (title like CONCAT('%',#{params.title},'%'))
            </if>
            <if test="params.tenantCode != null and params.tenantCode != ''">
                AND tenant_code = #{params.tenantCode}
            </if>
        </if>
        <choose>
            <when test="params.sortField != null and params.sortField != '' and params.sortOrder != null and params.sortOrder != ''">
                ORDER BY #{params.sortField} #{params.sortOrder}
            </when>
            <otherwise>
                ORDER BY update_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="findList" resultMap="sysMessageResultMap">
        SELECT * FROM sys_message a WHERE a.is_deleted = 0 AND a.tenant_code = #{tenantCode}
        <if test="receiverType != null">
            AND a.receiver_type = #{receiverType}
        </if>
        <if test="status != null">
            AND a.status = #{status}
        </if>
        <if test="type != null">
            AND a.type = #{type}
        </if>
    </select>

    <select id="findListById" resultMap="sysMessageResultMap">
        SELECT * FROM sys_message a WHERE a.id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getByMessageType" resultMap="sysMessageResultMap">
        SELECT * FROM sys_message a WHERE a.is_deleted = 0 AND a.tenant_code = #{tenantCode} AND a.status = 1 AND a.type = #{type} ORDER BY update_time DESC LIMIT 1
    </select>

    <delete id="delete">
        UPDATE sys_message SET is_deleted = 1 WHERE id = #{id}
    </delete>

    <delete id="deleteAll">
        UPDATE sys_message SET is_deleted = 1 WHERE id IN
        <foreach item="item" index="index" collection="ids" open="("
                 separator="," close=")">#{item}
        </foreach>
    </delete>
</mapper>
